$color-primary: #F7F8FA;
$color-primary-dark: #DBF3F8;

@import "node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables";
@import "node_modules/@chatscope/chat-ui-kit-styles/themes/default/main";

.cs-message__content {
  border-radius: 10px 10px 10px 0 !important;
}

.cs-message {
  margin-top: 1.5rem !important;
}

.cs-chat-container .cs-message-input {
  background-color: #DBF3F8;
}

.cs-message-input__tools {
  margin-left: .5rem;
  margin-right: 1rem;
}

.cs-button--send {
  color: #FFF;
  background-color: #D4450C;
  border-radius: 5px;
}
